<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Generic - Phantom by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="generic">Sobre</a></li>
							<li><a href="/formulario">Formulario</a></li>

						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Kimetsu No Yaiba - Demon Slayer</h1>
							<span class="image main"><img src="images/capa-kimetsu.png" alt="" /></span>
							<p>As aventuras do caçador de demônios Tanjirō Kamado têm conquistado cada vez mais fãs ao redor do mundo. E aqueles que curtem Kimetsu no Yaiba. Misturando ação, fatos históricos e elementos sobrenaturais, o anime estreou no Japão em 2019 e, até o momento, adaptou para a televisão a história de 18 volumes do mangá shõnen. Vem com a gente conhecer o mundo de Kimetsu no Yaiba!</p>
							<p>Escrito e ilustrado por Koyoharu Gotōge, o mangá de Kimetsu no Yaiba passou a ser serializado no dia 15 de fevereiro de 2016, com publicação na revista semanal Weekly Shōnen Jump.

								Para quem não está familiarizado com a revista, trata-se de uma publicação de mangás best-sellers (mais vendidos) no Japão. Entre outros famosos títulos publicados pela revista estão: Dragon Ball, Naruto, One Piece, Shaman King, Hunter × Hunter, Yu-Gi-Oh, Yu Yu Hakusho, Saint Seiya, Bleach, Death Note, My Hero Academia, Black Clover, entre outros.
								
								Depois de publicados, os capítulos das séries são reunidos e republicados no formato tankōbon, uma espécie de livro mais conhecido por essas compilações de capítulos de mangás. No total, Kimetsu no Yaiba tem 18 volumes tankōbon.</p>
							<p>Em 2017, a série ficou em 14º lugar no ranking de mangás recomendados nas livrarias japonesas. Já em 2018, ficou na posição 19 na lista de melhores mangás para leitores do sexo masculino. Em dezembro de 2019, apenas pouco mais de três anos após seu lançamento, o mangá atingiu mais de 25 milhões de cópias em circulação.

								A partir de janeiro de 2019, a editora Shueisha, responsável pela publicação dos tankōbon e da revista Weekly Shōnen Jump, começou a publicar a série não apenas em japonês, mas também simultaneamente em inglês, por meio de sua plataforma digital Manga Plus. No Brasil, a editora Panini assumiu a publicação de Kimetsu no Yaiba, conforme anunciou na Comic Con Experience 2019, em São Paulo.</p>
						</div>
					</div>

				<!-- Footer -->
				<footer id="footer">
					<div class="inner">
						<section>
							<h2>Mande suas dúvidas</h2>
							<form method="post" action="#">
								<div class="fields">
									<div class="field half">
										<input type="text" name="name" id="name" placeholder="Nome" />
									</div>
									<div class="field half">
										<input type="email" name="email" id="email" placeholder="Email" />
									</div>
									<div class="field">
										<textarea name="message" id="message" placeholder="Mensagem"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Enviar" class="primary" /></li>
								</ul>
							</form>
						</section>
						<section>
							<h2>Siga nossas redes sociais</h2>
							<ul class="icons">
								<li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands style2 fa-dribbble"><span class="label">Dribbble</span></a></li>
								<li><a href="#" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon brands style2 fa-500px"><span class="label">500px</span></a></li>
								<li><a href="#" class="icon solid style2 fa-phone"><span class="label">Phone</span></a></li>
								<li><a href="#" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
							</ul>
						</section>
						<ul class="copyright">
							<li>&copy;</li><li>Design: Marcela Torro</li>
						</ul>
					</div>
				</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>